<!DOCTYPE html >
<html>

<head>
    <title><%= title %> - Microblog</title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
    <style type="text/css">
        body {
            padding-top: 60px;
            padding-bottom: 40px;
        }

    </style>
</head>

<body>
    <div class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
       <a class="navbar-brand" href="/">Microblog</a>
       <div class="collapse navbar-collapse">
           <ul class="navbar-nav mr-auto">
               <li class="nav-item active"><a class="nav-link" href="/">首页</a></li>
               <li class="nav-item"><a class="nav-link" href="/login">登入</a></li>
               <li class="nav-item"><a class="nav-link" href="/reg">注册</a></li>
           </ul>
       </div>
    </div>
    <hr/>
    <footer>
        <p><a href="http://www.byvoid.com/" target="_blank">BYVoid</a> 2012</p>
    </footer>
</body>
<script src="/javascripts/jquery-3.4.1.js"></script>
<script src="/javascripts/bootstrap.js"></script>

</html>
